main{
    border: 1px solid rgb(176, 10, 10);
    background-color: rgb(104, 20, 15);
}

.casa{
    border: 1px solid rgb(255, 0, 0);
    width: 150px;
    height: 150px;
    font-size: 80px;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 150px;
}
.linha{
    display: grid;
    grid-template-columns: 150px 150px 150px;
}
body{
    display: flex;
    justify-content: center;
}